[color-mode="dark"] .page-content {
  background: #080808;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

[color-mode="light"] .page-content {
  background: #eee;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

[color-mode="dark"] .x-content-list {
  background: #181818;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

[color-mode="light"] .x-content-list {
  background: #ccc;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

#blog-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min(90%, 800px);
  overflow: hidden;
}

.page-content h1 {
  margin: 12px 0;
  align-self: flex-start;
}

.x-content-list {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  border-radius: 12px;
  overflow-y: hidden;
}

.x-content-list div.video-wrapper {
  flex: 0 0 480px; /* This sets the basis for the flex items */
  height: 0;
  padding-top: 40%; /* This gives us a 16:9 aspect ratio */
  position: relative;
  margin: 12px 24px;
}

.x-content-list iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#youtube-video-list {
  border-radius: 12px;
}

.blogpage-section-header {
  display: flex;
  width: 100%;
  margin-top: 36px !important;
  left: 12px;
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* This allows clicks to go "through" the overlay */
  background: rgba(0, 0, 0, 0.01); /* Nearly transparent background */
}
