
.leftArrow {
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  position: fixed;
  box-shadow: 1cm;
}
  
.leftArrow-svg {
  position: fixed;
  left: 0.75cm;
  top: 50%;
  translate: 0% -50%;
  width:24px;
}