
.button-block {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: auto;
    bottom: 0.5cm;
    height: 10px;
    left: 50%;
    translate: -50% 0;
    justify-content: center;
  }