.carousel-image {
  object-fit: contain;
  width: 55%;
  height: 90%;
  position: fixed;
  right: 42%;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: -1;
}

.text-block h1 {
  font-size: 60px;
  text-align: left;
  color: white;
}

.text-block p {
  color: white;
  font-size: large;
  text-align: left;
  margin-bottom: 6px;
}

.text-block {
  width: 35%;
  position: fixed;
  padding: 20px;
  left: 55%;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
