.carousel-image {
  object-fit: contain;
  width: 40%;
  height: 90%;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  z-index: -1;
}

.text-block h1 {
  font-size: 60px;
  text-align: left;
  color: white;
}

.text-block p {
  color: white;
  font-size: large;
  text-align: left;
  margin-bottom: 6px;
}

.text-block {
  width: 35%;
  position: fixed;
  padding: 20px;
  left: 55%;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .carousel-image {
    transform: translate(-50%, 0%);
    top: 0%;
    bottom: 50%;
    left: 50%;
    width: 90%;
    height: 60%;
  }

  .text-block {
    width: 90%;
    height: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 52%;
    padding: 12px;
    justify-content: center;
  }

  .text-block h1 {
    font-size: 30px;
  }

  .text-block p {
    font-size: medium;
  }
}
