#contact-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.slide-header {
  text-decoration: none;
}

.slide-header h2 {
  margin-bottom: 0;
  font-family: "Times";
  color: rgb(238, 238, 238);
}

.slide-header:hover {
  font-weight: 800;
  text-decoration: underline !important ;
  text-decoration-color: #888 !important;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 6px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.arrow-btnx {
  filter: drop-shadow(2px 2px 6px 12px rgba(215, 64, 64, 0.8));
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 48px;
  transition: transform 0.3s ease;
}

.arrow-btnx:hover {
  transform: translate(0%, -50%) scale(1.5);
}

.left {
  left: 0.75cm;
}

.right {
  right: 0.75cm;
}
