.link-button {
  width: 100px;
  padding: 3px 8px;
}

.link-button:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 380px) {
  .link-button {
    margin: 6px 6px !important;
  }
}
