[color-mode="dark"] #side-menu {
  background: #333;
  color: #eee;
}

[color-mode="light"] #side-menu {
  background: #eee;
  color: #333;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-button:hover {
  transform: scale(1.2);
}

#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100vh;
  width: 300px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  padding: 24px;
  animation: slideIn 0.3s ease-in-out;
}

#side-menu.slide-out {
  animation: slideOut 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#side-menu .page-link {
  font-size: 2.5em;
  text-align: left;
  margin: 6px 12px;
  width: 90%;
}
