body {
  background: #141414 !important;
  color: #ddd !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Color of the track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* Color of the thumb */
  background: #8888;
  /* Radius for the thumb */
  border-radius: 6px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #8888 transparent;
}

.spacer-xl {
  height: 160px;
  background-color: aqua;
}

h1 {
  animation: fadeIn 0.75s ease-in-out;
}

h2 {
  animation: fadeIn 0.9s ease-in-out;
}

h3 {
  animation: fadeIn 1.05s ease-in-out;
}

h4 {
  animation: fadeIn 1.2s ease-in-out;
}

h5 {
  animation: fadeIn 1.35s ease-in-out;
}

h6 {
  animation: fadeIn 1.5s ease-in-out;
}

p {
  animation: fadeIn 2s ease-in-out;
}

button {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
