[color-mode="dark"]:root {
  --input-bg: #222;
  --input-color: #fff;
  --primary-color: tomato;
}

[color-mode="light"]:root {
  --input-bg: #fff;
  --input-color: #222;
  --primary-color: tomato;
}

/* Change background color of autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  background: var(--input-bg) !important;
  color: var(--input-color) !important;
}

#hire-me-content {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#hire-me-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#jobTypeButtonGroup {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  #jobTypeButtonGroup {
    flex-direction: column;
  }
}

#priceTierGroup {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1rem;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  margin-bottom: 1rem;
  background: var(--input-bg);
  color: var(--input-color);
  border: none;
  padding: 6px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border: var(--primary-color) 1px solid;
}

#contact-form textarea {
  height: 10rem;
}

#contact-form button {
  margin: 12px;
  align-self: center;
  width: 200px;
  height: 3rem;
  padding: 0;
}

#instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: tomato;
  font-size: 1rem;
  width: 60%;
  height: fit-content;
  text-wrap: wrap;
  text-align: center;
  margin: 1rem;
  line-height: 100%;
}

#contact-form button:hover {
  color: var(--primary-color);
  transform: scale(1.08);
  border: var(--primary-color) 1px solid;
}

.spacer-xl {
  height: 12rem;
}

#special-note {
  font-size: 0.8rem;
  filter: contrast(60%);
  width: 60%;
  text-wrap: wrap;
  text-align: center;
}
