:root {
  --input-bg: #222;
  --input-color: #fff;
  --primary-color: tomato;
}

/* Change background color of autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  background: var(--input-bg) !important;
  color: var(--input-color) !important;
}

#hire-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hire-me-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#jobTypeButtonGroup {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#priceTierGroup {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 1rem;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  margin-bottom: 1rem;
  background: var(--input-bg);
  color: var(--input-color);
  border: none;
  padding: 6px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border: var(--primary-color) 1px solid;
}

#contact-form textarea {
  height: 10rem;
}

#contact-form button {
  margin: 12px;
  align-self: center;
  width: 200px;
  height: 3rem;
  padding: 0;
}

#contact-form button:hover {
  background: #1a1a1a;
  color: var(--primary-color);
  transform: scale(1.08);
  border: var(--primary-color) 1px solid;
}

.spacer-xl {
  height: 12rem;
}
