.jobTypeButton {
  width: 200px;
  height: 60px;
  background: transparent;
  color: white;
  border: none;
}

.jobTypeButton:hover:not(#selectedJobType) {
  background: #222;
  color: white;
  transform: scale(1.08);
}

#selectedJobType {
  font-size: larger;
  background: #202020;
  color: tomato;
}
